.appointment {
  background: #f5f5f5;
  padding: 100px 0;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__image {
    background: url("../../assets/appointment.webp") no-repeat center center;
    background-size: 100% auto;
    position: relative;
    padding-top: 125px;
    &__experience {
      padding: 50px 100px 50px 50px;
      background: #eb3300;
      display: inline-block;
      color: #fff;
      background-image: url("../../assets/year_bg.webp");
      background-position: right bottom;
      background-repeat: no-repeat;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 18px;
      span {
        font-size: 60px;
        font-weight: 700;
        display: block;
        line-height: 1;
        margin-bottom: 10px;
      }
    }
  }
  &__form {
    padding-left: 100px;
    &__wrapper {
      padding-top: 50px;
    }
  }
}
